In [27]:
import os
import json
from prisma import Prisma
import pandas as pd

In [2]:
db = Prisma()

# set the environment variable DATABASE_URL to the connection string of your database
os.environ['DATABASE_URL'] = 'postgresql://klicker:klicker@localhost:5432/klicker-prod'

db.connect()

In [35]:
response_details = db.questionresponsedetail.find_many(include={ "participation": True })

print(response_details[0])

id=106979 score=0.0 pointsAwarded=0.0 xpAwarded=0.0 response={'choices': [1]} participant=None participantId='b99c7eb9-8874-4cf2-989e-a66e695539da' participation=Participation(id=922, isActive=False, course=None, courseId='2b302436-4fc3-4d5d-bbfb-1e13b4ee11b2', participant=None, participantId='b99c7eb9-8874-4cf2-989e-a66e695539da', courseLeaderboard=None, courseLeaderboardId=1809, sessionLeaderboards=None, responses=None, detailResponses=None, subscriptions=None, completedMicroLearnings=[], bookmarkedElementStacks=None, createdAt=datetime.datetime(2022, 12, 17, 16, 14, 1, 891000, tzinfo=TzInfo(UTC)), updatedAt=datetime.datetime(2022, 12, 20, 18, 42, 53, 556000, tzinfo=TzInfo(UTC))) participationId=922 elementInstance=None elementInstanceId=492 createdAt=datetime.datetime(2022, 12, 20, 18, 51, 2, 551000, tzinfo=TzInfo(UTC)) updatedAt=datetime.datetime(2024, 2, 15, 9, 18, 44, 575000, tzinfo=TzInfo(UTC))

In [37]:
def map_response_details(response_details):
    as_dict = response_details.dict()

    return {
        **as_dict,
        "participation": as_dict['participation']
    }


response_details = list(map(map_response_details, response_details))

response_details[0]

{'id': 106979,
 'score': 0.0,
 'pointsAwarded': 0.0,
 'xpAwarded': 0.0,
 'response': {'choices': [1]},
 'participant': None,
 'participantId': 'b99c7eb9-8874-4cf2-989e-a66e695539da',
 'participation': {'id': 922,
  'isActive': False,
  'course': None,
  'courseId': '2b302436-4fc3-4d5d-bbfb-1e13b4ee11b2',
  'participant': None,
  'participantId': 'b99c7eb9-8874-4cf2-989e-a66e695539da',
  'courseLeaderboard': None,
  'courseLeaderboardId': 1809,
  'sessionLeaderboards': None,
  'responses': None,
  'detailResponses': None,
  'subscriptions': None,
  'completedMicroLearnings': [],
  'bookmarkedElementStacks': None,
  'createdAt': datetime.datetime(2022, 12, 17, 16, 14, 1, 891000, tzinfo=TzInfo(UTC)),
  'updatedAt': datetime.datetime(2022, 12, 20, 18, 42, 53, 556000, tzinfo=TzInfo(UTC))},
 'participationId': 922,
 'elementInstance': None,
 'elementInstanceId': 492,
 'createdAt': datetime.datetime(2022, 12, 20, 18, 51, 2, 551000, tzinfo=TzInfo(UTC)),
 'updatedAt': datetime.datetime(2024, 2, 15, 9, 18, 44, 575000, tzinfo=TzInfo(UTC))}

In [46]:
df = pd.json_normalize(response_details, sep='_')

print(df.columns)
print(df.head())

Index(['id', 'score', 'pointsAwarded', 'xpAwarded', 'participant',
       'participantId', 'participationId', 'elementInstance',
       'elementInstanceId', 'createdAt', 'updatedAt', 'response_choices',
       'participation_id', 'participation_isActive', 'participation_course',
       'participation_courseId', 'participation_participant',
       'participation_participantId', 'participation_courseLeaderboard',
       'participation_courseLeaderboardId',
       'participation_sessionLeaderboards', 'participation_responses',
       'participation_detailResponses', 'participation_subscriptions',
       'participation_completedMicroLearnings',
       'participation_bookmarkedElementStacks', 'participation_createdAt',
       'participation_updatedAt', 'response_correctness', 'response_value',
       'response_viewed'],
      dtype='object')
       id  score  pointsAwarded  xpAwarded participant  \
0  106979    0.0            0.0        0.0        None
1  106993   10.0           10.0        0.0        None
2  107017   10.0           10.0        0.0        None
3  107529   20.0           20.0        0.0        None
4  107865   10.0           10.0        0.0        None

                          participantId  participationId elementInstance  \
0  b99c7eb9-8874-4cf2-989e-a66e695539da              922            None
1  5a93fa71-88d5-4f12-b308-e6a81cbfc77e              188            None
2  edcde14c-2005-4353-90e9-d6f596270be9               38            None
3  fbe2ff7d-5984-4e42-93e7-511916d64673              492            None
4  fdbd49a6-70f6-4dd6-b365-02267679276e              767            None

   elementInstanceId                        createdAt  ...  \
0                492 2022-12-20 18:51:02.551000+00:00  ...
1                492 2022-12-20 18:52:26.665000+00:00  ...
2                492 2022-12-20 18:54:28.070000+00:00  ...
3                492 2022-12-20 19:34:41.138000+00:00  ...
4                492 2022-12-20 19:55:39.337000+00:00  ...

  participation_responses participation_detailResponses  \
0                    None                          None
1                    None                          None
2                    None                          None
3                    None                          None
4                    None                          None

   participation_subscriptions  participation_completedMicroLearnings  \
0                         None                                     []
1                         None                                     []
2                         None                                     []
3                         None                                     []
4                         None                                     []

  participation_bookmarkedElementStacks          participation_createdAt  \
0                                  None 2022-12-17 16:14:01.891000+00:00
1                                  None 2022-09-19 22:15:31.455000+00:00
2                                  None 2022-09-19 12:15:15.363000+00:00
3                                  None 2022-09-24 12:04:04.218000+00:00
4                                  None 2022-10-11 10:01:18.547000+00:00

           participation_updatedAt response_correctness response_value  \
0 2022-12-20 18:42:53.556000+00:00                  NaN            NaN
1 2022-10-12 17:59:28.620000+00:00                  NaN            NaN
2 2022-09-21 20:02:36.118000+00:00                  NaN            NaN
3 2022-09-26 13:52:44.602000+00:00                  NaN            NaN
4 2022-10-26 09:19:09.708000+00:00                  NaN            NaN

   response_viewed
0              NaN
1              NaN
2              NaN
3              NaN
4              NaN

[5 rows x 31 columns]

In [72]:
df_relevant = df[['id', 'score', 'pointsAwarded', 'xpAwarded', 'createdAt', 'participantId', 'participation_courseId']]

df_relevant['createdAt'] = pd.to_datetime(df_relevant['createdAt'].dt.date)

df_relevant = df_relevant.rename(columns={'participation_courseId': 'courseId'})

df_relevant.head()

/var/folders/d_/8y5nsk_n78n6lc08sxkq9w740000gn/T/ipykernel_81300/176451833.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_relevant['createdAt'] = pd.to_datetime(df_relevant['createdAt'].dt.date)

,id,score,pointsAwarded,xpAwarded,createdAt,participantId,courseId
0,106979,0.0,0.0,0.0,2022-12-20,b99c7eb9-8874-4cf2-989e-a66e695539da,2b302436-4fc3-4d5d-bbfb-1e13b4ee11b2
1,106993,10.0,10.0,0.0,2022-12-20,5a93fa71-88d5-4f12-b308-e6a81cbfc77e,2b302436-4fc3-4d5d-bbfb-1e13b4ee11b2
2,107017,10.0,10.0,0.0,2022-12-20,edcde14c-2005-4353-90e9-d6f596270be9,2b302436-4fc3-4d5d-bbfb-1e13b4ee11b2
3,107529,20.0,20.0,0.0,2022-12-20,fbe2ff7d-5984-4e42-93e7-511916d64673,2b302436-4fc3-4d5d-bbfb-1e13b4ee11b2
4,107865,10.0,10.0,0.0,2022-12-20,fdbd49a6-70f6-4dd6-b365-02267679276e,2b302436-4fc3-4d5d-bbfb-1e13b4ee11b2

In [73]:
# group by participantId, courseId and createdAt
# count the number of responses and sum the score, pointsAwarded, xpAwarded

df_relevant_daily = df_relevant.groupby(['participantId', 'courseId', 'createdAt']).agg({'id': 'count', 'score': 'sum', 'pointsAwarded': 'sum', 'xpAwarded': 'sum'})

# df_relevant_daily = df_relevant_daily.reset_index()

# df_relevant_daily = df_relevant_agg.sort_values(by=['participantId', 'courseId', 'createdAt'], ascending=True)

df_relevant_daily.head()

                                                                                      id  \
participantId                        courseId                             createdAt
001f6f8a-a32e-43b3-953b-7f6204a97bbe 2b302436-4fc3-4d5d-bbfb-1e13b4ee11b2 2022-12-14  62
0025f331-cb85-412f-9115-323f1dfe50d3 ece02221-aa68-4c6c-8d4f-dcfa03528e4f 2024-03-02  16
00686c1f-ddd2-4b6c-89f9-d2f06e688c57 7a000ca7-48f3-43d4-ac25-d5d1cd074afd 2023-11-27  15
                                                                          2023-11-28  72
                                                                          2023-12-01  12

                                                                                      score  \
participantId                        courseId                             createdAt
001f6f8a-a32e-43b3-953b-7f6204a97bbe 2b302436-4fc3-4d5d-bbfb-1e13b4ee11b2 2022-12-14  380.0
0025f331-cb85-412f-9115-323f1dfe50d3 ece02221-aa68-4c6c-8d4f-dcfa03528e4f 2024-03-02   70.0
00686c1f-ddd2-4b6c-89f9-d2f06e688c57 7a000ca7-48f3-43d4-ac25-d5d1cd074afd 2023-11-27   95.0
                                                                          2023-11-28  480.0
                                                                          2023-12-01  110.0

                                                                                      pointsAwarded  \
participantId                        courseId                             createdAt
001f6f8a-a32e-43b3-953b-7f6204a97bbe 2b302436-4fc3-4d5d-bbfb-1e13b4ee11b2 2022-12-14          310.0
0025f331-cb85-412f-9115-323f1dfe50d3 ece02221-aa68-4c6c-8d4f-dcfa03528e4f 2024-03-02           45.0
00686c1f-ddd2-4b6c-89f9-d2f06e688c57 7a000ca7-48f3-43d4-ac25-d5d1cd074afd 2023-11-27            0.0
                                                                          2023-11-28            0.0
                                                                          2023-12-01            0.0

                                                                                      xpAwarded
participantId                        courseId                             createdAt
001f6f8a-a32e-43b3-953b-7f6204a97bbe 2b302436-4fc3-4d5d-bbfb-1e13b4ee11b2 2022-12-14        0.0
0025f331-cb85-412f-9115-323f1dfe50d3 ece02221-aa68-4c6c-8d4f-dcfa03528e4f 2024-03-02       30.0
00686c1f-ddd2-4b6c-89f9-d2f06e688c57 7a000ca7-48f3-43d4-ac25-d5d1cd074afd 2023-11-27       90.0
                                                                          2023-11-28      340.0
                                                                          2023-12-01      100.0

In [93]:
df_relevant_daily.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 11754 entries, ('001f6f8a-a32e-43b3-953b-7f6204a97bbe', '2b302436-4fc3-4d5d-bbfb-1e13b4ee11b2', Timestamp('2022-12-14 00:00:00')) to ('ffe51cdd-49cb-4a3a-b460-1994c22f46c8', 'f7ceeba0-ef5a-4d0b-a992-a44a1395cbf9', Timestamp('2023-06-01 00:00:00'))
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             11754 non-null  int64
 1   score          11754 non-null  float64
 2   pointsAwarded  11754 non-null  float64
 3   xpAwarded      11754 non-null  float64
dtypes: float64(3), int64(1)
memory usage: 442.0+ KB

In [89]:
# create a dataframe with weekly aggregated data
df_relevant_weekly = df_relevant_daily.groupby(['participantId', 'courseId']).resample('W', level='createdAt', ).sum()

df_relevant_weekly.head()

                                                                                       id  \
participantId                        courseId                             createdAt
001f6f8a-a32e-43b3-953b-7f6204a97bbe 2b302436-4fc3-4d5d-bbfb-1e13b4ee11b2 2022-12-18   62
0025f331-cb85-412f-9115-323f1dfe50d3 ece02221-aa68-4c6c-8d4f-dcfa03528e4f 2024-03-03   16
00686c1f-ddd2-4b6c-89f9-d2f06e688c57 7a000ca7-48f3-43d4-ac25-d5d1cd074afd 2023-12-03   99
                                                                          2023-12-10    0
                                                                          2023-12-17  141

                                                                                       score  \
participantId                        courseId                             createdAt
001f6f8a-a32e-43b3-953b-7f6204a97bbe 2b302436-4fc3-4d5d-bbfb-1e13b4ee11b2 2022-12-18   380.0
0025f331-cb85-412f-9115-323f1dfe50d3 ece02221-aa68-4c6c-8d4f-dcfa03528e4f 2024-03-03    70.0
00686c1f-ddd2-4b6c-89f9-d2f06e688c57 7a000ca7-48f3-43d4-ac25-d5d1cd074afd 2023-12-03   685.0
                                                                          2023-12-10     0.0
                                                                          2023-12-17  2050.0

                                                                                      pointsAwarded  \
participantId                        courseId                             createdAt
001f6f8a-a32e-43b3-953b-7f6204a97bbe 2b302436-4fc3-4d5d-bbfb-1e13b4ee11b2 2022-12-18          310.0
0025f331-cb85-412f-9115-323f1dfe50d3 ece02221-aa68-4c6c-8d4f-dcfa03528e4f 2024-03-03           45.0
00686c1f-ddd2-4b6c-89f9-d2f06e688c57 7a000ca7-48f3-43d4-ac25-d5d1cd074afd 2023-12-03            0.0
                                                                          2023-12-10            0.0
                                                                          2023-12-17            0.0

                                                                                      xpAwarded
participantId                        courseId                             createdAt
001f6f8a-a32e-43b3-953b-7f6204a97bbe 2b302436-4fc3-4d5d-bbfb-1e13b4ee11b2 2022-12-18        0.0
0025f331-cb85-412f-9115-323f1dfe50d3 ece02221-aa68-4c6c-8d4f-dcfa03528e4f 2024-03-03       30.0
00686c1f-ddd2-4b6c-89f9-d2f06e688c57 7a000ca7-48f3-43d4-ac25-d5d1cd074afd 2023-12-03      530.0
                                                                          2023-12-10        0.0
                                                                          2023-12-17      930.0

In [94]:
df_relevant_weekly.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 12899 entries, ('001f6f8a-a32e-43b3-953b-7f6204a97bbe', '2b302436-4fc3-4d5d-bbfb-1e13b4ee11b2', Timestamp('2022-12-18 00:00:00')) to ('ffe51cdd-49cb-4a3a-b460-1994c22f46c8', 'f7ceeba0-ef5a-4d0b-a992-a44a1395cbf9', Timestamp('2023-06-04 00:00:00'))
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             12899 non-null  int64
 1   score          12899 non-null  float64
 2   pointsAwarded  12899 non-null  float64
 3   xpAwarded      12899 non-null  float64
dtypes: float64(3), int64(1)
memory usage: 535.6+ KB

In [91]:
# create a dataframe with monthly aggregated data
df_relevant_monthly = df_relevant_daily.groupby(['participantId', 'courseId']).resample('ME', level='createdAt', ).sum()

df_relevant_monthly.head()

                                                                                       id  \
participantId                        courseId                             createdAt
001f6f8a-a32e-43b3-953b-7f6204a97bbe 2b302436-4fc3-4d5d-bbfb-1e13b4ee11b2 2022-12-31   62
0025f331-cb85-412f-9115-323f1dfe50d3 ece02221-aa68-4c6c-8d4f-dcfa03528e4f 2024-03-31   16
00686c1f-ddd2-4b6c-89f9-d2f06e688c57 7a000ca7-48f3-43d4-ac25-d5d1cd074afd 2023-11-30   87
                                                                          2023-12-31  153
007142eb-67f1-4f31-8eed-68a97ea466fb 2b302436-4fc3-4d5d-bbfb-1e13b4ee11b2 2022-12-31  255

                                                                                       score  \
participantId                        courseId                             createdAt
001f6f8a-a32e-43b3-953b-7f6204a97bbe 2b302436-4fc3-4d5d-bbfb-1e13b4ee11b2 2022-12-31   380.0
0025f331-cb85-412f-9115-323f1dfe50d3 ece02221-aa68-4c6c-8d4f-dcfa03528e4f 2024-03-31    70.0
00686c1f-ddd2-4b6c-89f9-d2f06e688c57 7a000ca7-48f3-43d4-ac25-d5d1cd074afd 2023-11-30   575.0
                                                                          2023-12-31  2160.0
007142eb-67f1-4f31-8eed-68a97ea466fb 2b302436-4fc3-4d5d-bbfb-1e13b4ee11b2 2022-12-31  3355.0

                                                                                      pointsAwarded  \
participantId                        courseId                             createdAt
001f6f8a-a32e-43b3-953b-7f6204a97bbe 2b302436-4fc3-4d5d-bbfb-1e13b4ee11b2 2022-12-31          310.0
0025f331-cb85-412f-9115-323f1dfe50d3 ece02221-aa68-4c6c-8d4f-dcfa03528e4f 2024-03-31           45.0
00686c1f-ddd2-4b6c-89f9-d2f06e688c57 7a000ca7-48f3-43d4-ac25-d5d1cd074afd 2023-11-30            0.0
                                                                          2023-12-31            0.0
007142eb-67f1-4f31-8eed-68a97ea466fb 2b302436-4fc3-4d5d-bbfb-1e13b4ee11b2 2022-12-31         2090.0

                                                                                      xpAwarded
participantId                        courseId                             createdAt
001f6f8a-a32e-43b3-953b-7f6204a97bbe 2b302436-4fc3-4d5d-bbfb-1e13b4ee11b2 2022-12-31        0.0
0025f331-cb85-412f-9115-323f1dfe50d3 ece02221-aa68-4c6c-8d4f-dcfa03528e4f 2024-03-31       30.0
00686c1f-ddd2-4b6c-89f9-d2f06e688c57 7a000ca7-48f3-43d4-ac25-d5d1cd074afd 2023-11-30      430.0
                                                                          2023-12-31     1030.0
007142eb-67f1-4f31-8eed-68a97ea466fb 2b302436-4fc3-4d5d-bbfb-1e13b4ee11b2 2022-12-31        0.0

In [95]:
df_relevant_monthly.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 4765 entries, ('001f6f8a-a32e-43b3-953b-7f6204a97bbe', '2b302436-4fc3-4d5d-bbfb-1e13b4ee11b2', Timestamp('2022-12-31 00:00:00')) to ('ffe51cdd-49cb-4a3a-b460-1994c22f46c8', 'f7ceeba0-ef5a-4d0b-a992-a44a1395cbf9', Timestamp('2023-06-30 00:00:00'))
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             4765 non-null   int64
 1   score          4765 non-null   float64
 2   pointsAwarded  4765 non-null   float64
 3   xpAwarded      4765 non-null   float64
dtypes: float64(3), int64(1)
memory usage: 247.7+ KB

In [118]:
df_relevant_mean = df_relevant.groupby(['courseId']).agg({'id': 'count', 'score': 'mean', 'pointsAwarded': 'mean', 'xpAwarded': 'mean'})

df_relevant_mean.head()

,id,score,pointsAwarded,xpAwarded
courseId,,,,
08af1f79-b5ce-4e78-bd07-e6f21d11ae61,681,9.089574,6.476965,7.547724
0abf0e39-6936-4e15-a0ef-78c89add6cd2,31,0.967742,0.000000,0.967742
1caf787f-98c1-4de4-8ef6-bd428ac550f3,19118,7.741919,6.663875,6.632493
1e83f531-a62b-40b2-996a-f6dba986c755,6,10.000000,NaN,10.000000
265b834f-8ab7-4c4f-bddf-61075d7990b3,9797,8.686333,6.530365,6.701031

In [117]:
df_relevant_daily.to_csv('out/df_relevant_daily.csv')
df_relevant_weekly.to_csv('out/df_relevant_weekly.csv')
df_relevant_monthly.to_csv('out/df_relevant_monthly.csv')
df_relevant_mean.to_csv('out/df_relevant_mean.csv')

In [ ]:
db.disconnect()